body {
    background-image: linear-gradient(red, grey, rgb(44, 15, 20), rgb(8, 58, 6));
}

#crib {
    display: flex;
    background-color: rgb(90, 72, 72);
    justify-content: right;
}

.nav {
    border-bottom: 2px black;
    width: 80px;
    height: 50px;
}

.nav-skill {
    background-color: rgb(18, 172, 211);
    color: black;
}

.nav-projects {
    background-color: green;
    color: black;
}

.nav-home {
    background-color: blue;
    color: black;
}

.nav-contact {
    background-color: orange;
    color: black;
}

#slider {
    overflow: scroll;
}

#slider figure {
    position: relative;
    width: 128%;
    margin: 4px;
    left: o;
    animation: 20s slider;
    display: flex;
    flex-direction: row;
}

.h2 {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 42%;
    left: 40%;
    margin: 0;
    transform: translate(-50%, -50%);
    color: rgb(14, 3, 161);
    display: flex;
    flex-direction: row;
}

h1 {
    position: relative;
    top: 10%;
    right: 64%;
    margin: 0;
    transform: translate(-10%);
}

#slider figure img {
    float: left;
    width: 35%;
    overflow: scroll;
}

section {
    height: 100vh;
    border: 20px;
    grid-template-columns: ;
}

.container {
    display: flex;
    flex-direction: column;
    width: 120px;
    border-radius: 140%;
    margin: 34px;
    align-items: center;
    justify-content: center;
    color: rgb(8, 238, 8);
    position: relative;
    left: 40%;
}

.a {}

.b {}

.C {
    height: 50px;
    p
}

.x {}

.t {}

.k {
    width: 180px;
    height: 240px;
}

.foot {
    display: flex;
    background-color: rgb(160, 214, 160);
    align-items: baseline;
}

.footer {
    width: 30px;
    height: 30px;
    background-color: rgb(226, 130, 13);
}

.paw {
    color: rgb(14, 19, 19);
}

.t {
    width: auto;
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: ;
    grid-gap: 50px;
    padding: auto;
    border-radius: 100px;
    background-color: rgba(13, 199, 53, 0.37);
    grid-gap: 30%;
    color: aqua;
}

.scroll-up {
    width: 5px;
    height: 4px;
}

.field {
    width: 200%;
    height: 70%;
}

.button {
    color: black;
    b
}